 * {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: #fffafa;
    accent-color:#6b8e23;

 }
 
 
 h1 {
    font-size: 30px;
    text-align: center
    ;
    border: 15px ;
    color: #218c33;
  }


  .wrapper {
    height: 100vh;  /* 100% of the viewport height */
    overflow-x: hidden;  /* prevent horizontal scroll */
    overflow-y: auto;  /* allow vertical scroll */
    perspective: 2px;  /* simulate distance from viewport */
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  color:white;
  align-items: center;
  justify-content: center;
}

.static { background:#4b5232; }
.bg1  { background: url("../photos/image_6483441.jpg"); }
.bg2 { background: url("../photos/image_6483441\ \(1\).jpg"); }
  

