 * {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: #fffafa;
    accent-color:#6b8e23;

 }
 
 
 h1 {
    font-size: 30px;
    text-align: center;
    border: 15px ;
  }


 button {
    color:#4b5232;
    font-size: px;
  
  }

