* {
    font-family: Arial, Helvetica, sans-serif;
     background-color: aqua;
     color:black;
     margin-top: 40vh; 
     font-size: 80px;
    margin-bottom: 40vh;
    border-color: crimson;
}

button { 
    color: blue;
    font-size: 20px;
    size: 30px;
}


