* {
    font-family: Arial, Helvetica, sans-serif;
     background-color:lightblue ;
     color:orangered;
     font-size: 16px;
    border-color: orangered;
    margin: 5px;
    margin-top:5px ;
    
    
}

button { 
    color:orangered ;
    font-size: 16px;
    size: 30px;
}


